data/models/yolov8n.pt filter=lfs diff=lfs merge=lfs -text
frontend/node_modules/typescript/lib/_tsc.js filter=lfs diff=lfs merge=lfs -text
.venv/lib/python3.11/site-packages/hf_xet/hf_xet.abi3.so filter=lfs diff=lfs merge=lfs -text
.venv/lib/python3.11/site-packages/cv2/cv2.abi3.so filter=lfs diff=lfs merge=lfs -text
.venv/lib/python3.11/site-packages/cv2/.dylibs/libavcodec.61.19.101.dylib filter=lfs diff=lfs merge=lfs -text
.venv/lib/python3.11/site-packages/grpc/_cython/cygrpc.cpython-311-darwin.so filter=lfs diff=lfs merge=lfs -text
.venv/lib/python3.11/site-packages/_polars_runtime_32/_polars_runtime.abi3.so filter=lfs diff=lfs merge=lfs -text
.venv/lib/python3.11/site-packages/torch/lib/libtorch_python.dylib filter=lfs diff=lfs merge=lfs -text
data/models/clip-vit-base-patch32/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
frontend/node_modules/typescript/lib/typescript.js filter=lfs diff=lfs merge=lfs -text
frontend/node_modules/esbuild/bin/esbuild filter=lfs diff=lfs merge=lfs -text
.venv/lib/python3.11/site-packages/tokenizers/tokenizers.abi3.so filter=lfs diff=lfs merge=lfs -text
.venv/lib/python3.11/site-packages/torch/lib/libtorch_cpu.dylib filter=lfs diff=lfs merge=lfs -text
data/uploads/2a185ca1-4425-4eb6-837e-f122b4e0cc11.mp4 filter=lfs diff=lfs merge=lfs -text
frontend/node_modules/@esbuild/darwin-arm64/bin/esbuild filter=lfs diff=lfs merge=lfs -text
data/clips/89262a53-f61e-41e1-b865-f148a610bd29.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.sqlite filter=lfs diff=lfs merge=lfs -text
*.sqlite3 filter=lfs diff=lfs merge=lfs -text
